.jumbotron {
  background-color: #33C2C3;
  border: 5px solid #646d6d;
  text-align: center;
  text-decoration: underline;
  color: #4A4A4A;
  width: auto;

}
.well {
  background-color: #646d6d;
  border: 5px solid #33C2C3;
  border-radius: 20px;
  color: white;
}

body {
  black: white;
}

background-image {
  background-color: lightblue;
}

h2 {
  background-color: #33C2C3;
}

h4 {
  background-color: #33C2C3;
  text-decoration: underline;
}

#main-contianer {
  margin-bottom: 100px;
}

.button {
  color: black;
  margin-bottom: 100px;
}

#CSS, #Csharp, #Java {
  display: none;
  text-align: center;
  background-color: #33C2C3;
  margin: 15px;
  border: 9px solid #646d6d;
  border-radius: 20px;
  padding: 5px;
  color: white
}

#CSS, #Csharp, #Java p {
  text-align: center;
  font-size: 20px;
}
