.jumbotron {
  background-color: #33C2C3;
  text-align: center;
  text-decoration: underline;
  width: auto;

}
.well {
  background-color: #646d6d;
}

body {
  color: white;
}

background-image {
  background-color: lightblue;
}

h2 {
  background-color: #33C2C3;
}

h4 {
  background-color: #33C2C3;
  text-decoration: underline;
}

#main-contianer {
  margin-bottom: 100px;
}

.button {
  color: black;
  margin-bottom: 100px;
}

#answer{
  display: none;
}
